* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 30px auto;
}

h1 {
    font-size: 22px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: lighter;
}

.dress-descrition {
    margin-top: 15px;
    line-height: 20px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc( 100% / 3 - 8px);
    margin: 0 4px;
}

.product {
    position: relative;
}

.product img {
    width: 100%;
    display: block;
}
.product-symbol {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0;
}

.discount {
    text-align: center;
    background-color: white;
    left: 0;
    background-color: red;
}

.discount-attribute {
    position: absolute;
    left: 60px;
    background-color: green;
}

.discount-attribute-2 {
    position: absolute;
    left: 0px;
    background-color: green;
}

[class*="discount"] {
    height: 30px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    bottom: 20px;
}

.price {
    font-weight: 800;
    color: red;
}

.disc-price {
    text-decoration: line-through;
    font-weight: 700;
}

.product:hover .product-wishlist {
    display: block;
}

.product .product-img-2 {
    display: none;
}

.product:hover .product-img-1 {
    display: none;
}

.product:hover .product-img-2 {
    display: block;
}